/*
 * Settings For X
 */

/* font settings */
Xft.antialias:  1
Xft.autohint:   0
Xft.dpi:        96
Xft.hinting:    1
Xft.hintstyle:  hintslight
Xft.lcdfilter:  lcddefault
Xft.rgba:       rgb

/* st settings */
st.font: FuraCode Nerd Font:sytle=Medium,Regular:size=10
st.borderpx: 0
st.alpha: 1.0

st.foreground:  #D8D8D8
st.background:  #181818
st.cursorColor: #D8D8D8

st.color0:	#181818
st.color1:	#AB4642
st.color2:	#A1B56C
st.color3:	#f7ca88
st.color4:	#7CAFC2
st.color5:	#BA8BAF
st.color6:	#86C1B9
st.color7:	#D8D8D8

st.color8:	#181818
st.color9:	#AB4642
st.color10:	#A1B56C
st.color11:	#f7ca88
st.color12:	#7CAFC2
st.color13:	#BA8BAF
st.color14:	#86C1B9
st.color15:	#D8D8D8
